DBURL=dburl

NODE_ENV=development

PORT=5000

JWT_Secrect="fd3ca8tWI6IoAfJM2"

// kep bycrypt salt round here also 
Bycrypt_Salt=10

// supper Admin Seed data
Super_Admin_email=super@gmail.com
Super_Admin_password=superPW

JWT_REFRESH_SECRECT="8ca8cjwxje"
JWT_REFRESH_TIME=30d

GOOGLE_CLIENT_ID=GoogleClientId-for-using-passportjs 
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

EXPRESS_SESSION_SECRECT='secrect'
FRONTEND_URL=http://localhost:5713



# sslCommerz
SSL_STORE_ID="aof6asf1c223faf"
SSL_STORE_PASS="aof6a----@ssl"
SSL_PAYMENT_API="https://sandbox.sslcommerz.com/gwprocess/v3/api.php"
SSL_VALIDATION_API="https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php"

# SSL Commerz BACKEND URLs
SSL_SUCCESS_BACKEND_URL="http://localhost:5000/api/v1/payment/success"
SSL_FAIL_BACKEND_URL="http://localhost:5000/api/v1/payment/fail"
SSL_CANCEL_BACKEND_URL="http://localhost:5000/api/v1/payment/cancel"

# SSL Commerz FRONTEND URLs
SSL_SUCCESS_FRONTEND_URL="http://localhost:5173/payment/success"
SSL_FAIL_FRONTEND_URL="http://localhost:5173/payment/fail"
SSL_CANCEL_FRONTEND_URL="http://localhost:5173/payment/cancel"